@{
    ViewBag.Title = "PMS Dashboard";
}
@section featured {

}

    	<ul class="DashboardTab">
        	<li class="Selected">PMS Status</li>
            <li><a href="#">SDS Status</a></li>
        </ul>
        <div class="TabOtr" style="width:99%;">
        	<div class="Title">
            	<span class="Selected"><strong>Select Ship</strong> </span>
                <span><a href="#">Oriental Queen</a></span>
                <div class="LabelOtr">
                	<input type="radio" name="Engine" />
                    <label>Engine</label>
                    <input type="radio" name="Engine" />
                    <label>Deck</label>
                </div>
            </div>
            <div class="DashboardGrid">
            	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="Grid">
                	<tr>
                    	<th>Heading1</th>
                        <th>Heading2</th>
                        <th>Heading3</th>
                        <th>Heading4</th>
                        <th>Heading5</th>
                        <th>Heading6</th>
                        <th>Heading7</th>
                    </tr>
                    <tr>
                    	<td>123</td>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </table>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion">
                        <h3>Overdue Items</h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion1">
                        <h3>Critical Overdue Items</h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion2">
                        <h3>Postponed Items</h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion3">
                        <h3>Tech 31 Open Items - 2</h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion4">
                        <h3>Spare Items Short Min. Qty</h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
            <div class="DashboardSubSec">
            	<div style="width:100%;">
                    <div id="accordion5">
                        <h3><span>Statutory Survey overdue and to be due within 90 days</span></h3>
                        <div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
                    </div>
            	</div>
            </div>
        </div>
